@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

.navbar img{
  height: 3.5em;
}

.feature {
  background-color: #77f2a1;
  width: 100%;
  height: auto;
}
.feature h1{
  font-size: 38px;
  padding-left: 40px;
  padding-top: 30px;
  color: #1F2B37;
}
.feature p{
  padding-left: 40px;
  padding-right: 40px;
  color: #1F2B37;
  font-size: 24px;
}
.btn-container{
  padding-left: 40px;
  padding-bottom: 30px;
}
.engage{
  background: #1e90ff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  outline: none;
}
.engage:active{
  border: none;
}
.engage:hover{
  transform: scale(1.2);
}
.engage:focus{
  outline: none;
}
.form-btn{
  cursor: pointer;
  color: white;
  background: black;
  border-radius: 5px;
  
  
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 5px;
}

.form-btn:hover{
  filter: brightness(150%);
  background: #141c24;
  transform: scale(1.1);
}

.form-btn:focus{
  outline: none;
}
video {
  width: 50%;
  height: auto;
  border-style: solid;
}
.video-player{
  padding-bottom: 100px;
 
  display: flex;
  justify-content: center;
  
}

.content h1{
  font-size: 38px;
  padding-left: 42px;
  padding-top: 30px;
  color: #1F2B37;
}
.content p{
  padding-left: 40px;
  padding-right: 40px;
  color: #1F2B37;
  font-size: 24px;
}

.flex-container {
  height: 50%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.flex-container > div{
  margin: 60px;
}
.flex-items:nth-child(1) {
  display: block;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  cursor: pointer;
}

.flex-items:nth-child(2) {
  display: block;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  cursor: pointer;
}
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.review-container{
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 50px;
}
/* Style the container with a rounded border, grey background and some padding and margin */
.reviews {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 30px;
  margin: 16px 0;
}

/* Clear floats after reviewss */
.reviews::after {
  content: "";
  clear: both;
  display: table;
}

/* Float images inside the reviews to the left. Add a right margin, and style the image as a circle */
.reviews img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

/* Increase the font-size of a span element */
.reviews span {
  font-size: 20px;
  margin-right: 15px;
}
.map-container{
  padding-left: 42px;
}
.mapouter{
  padding-left: 42px;
  padding-bottom: 100px;
}

.links{
  padding-left: 32px;
}
.links a{
  color: #1F2B37;
}
.links2{
  padding-left: 32px;
  padding-bottom: 100px;
}
.links2 a{
  color: #1F2B37;
}
.form-container{
  padding-top: 30px;
  padding-bottom: 17px;
  padding-left: 40px;
  padding-right: 40px;

}

.form-group{
  height: 65px;
}

label{
  position: relative;
  bottom: 3px;
}
input{
  width: 100%;
  height: 34px;
  padding: 5px;
  border: 1px solid black;
  background: rgb(236, 248, 253);
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 1000px){
  .feature h1{
    font-size: 30px;
  }
  .feature p{
    font-size: 18px;
  }
  .video-player{
    padding-top: 50px;
    padding-bottom: 200px;
  }
  .content h1{
    font-size: 30px;
  }
  .content p{
    font-size: 18px;
  }
  .flex-items img{
    width: 100%;
    height: auto;
  }
  .flex-container > div{
    margin: 20px;
  }
  .mapouter{

  }
}